/* Custom style */

body {
	margin-top: 60px;
}

.help:before {
	content:"\f059";
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	-webkit-font-smoothing:antialiased;
	*margin-right:.3em;
}

.help + .tooltip {
	font-weight: normal;
}

a.no-underline:hover {
	text-decoration: none;
}

.tooltip-inner {
	max-width: none;
}

table.table-bordered tr th,
table.table-bordered tr td {
	vertical-align: middle;
}

table.table-bordered.table-forum tr th,
table.table-bordered.table-forum tr td {
	vertical-align: text-top;
}

.table-forum hr {
	margin-top: 5px;
	margin-bottom: 5px;
}
