/* Custom style */

body {
	margin-top: 60px;
}

.help:before {
	content:"\f059";
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	-webkit-font-smoothing:antialiased;
	*margin-right:.3em;
}

.help + .tooltip {
	font-weight: normal;
}

a.no-underline:hover {
	text-decoration: none;
}

.tooltip-inner {
	max-width: none;
}

table.table-bordered tr th,
table.table-bordered tr td {
	vertical-align: middle;
}

table.table-bordered.table-forum tr th,
table.table-bordered.table-forum tr td {
	vertical-align: text-top;
}

.table-forum hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.spacer {
	display: block;
	height: 20px;
}

.progress-bar[aria-valuenow="0"] {
	min-width: 30px;
	color: #777;
	background-color: transparent;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress-bar[aria-valuenow="1"], .progress-bar[aria-valuenow="2"] {
	min-width: 30px;
}

.well {
	margin-bottom: 0;
}

table.logs tr td {
	vertical-align: top;
}

table.logs tr td:nth-child(1),
table.logs tr td:nth-child(2),
table.logs tr td:nth-child(3) {
	width: 15%;
}

table.logs tr td:nth-child(4),
table.logs tr td:nth-child(5) {
	width: 22.5%;
}

.log-toggle {
	cursor: pointer;
}
