#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: Tempeus\*Module\*Presenter

	session:
		expiration: 15 days


services:
	connection:
		class: LeanMapper\Connection( %database%, ... )
	- Tempeus\Model\Mapper
	- LeanMapper\DefaultEntityFactory

	- Tempeus\Model\ForumFacade

	- Tempeus\Model\ArticleRepository
	- Tempeus\Model\CategoryRepository
	- Tempeus\Model\GameRepository
	- Tempeus\Model\ForumPostContentRepository
	- Tempeus\Model\ForumPostRepository
	- Tempeus\Model\ForumThreadRepository
	- Tempeus\Model\ForumTopicRepository
	- Tempeus\Model\ChatMessageRepository
	- Tempeus\Model\ChatSessionRepository
	- Tempeus\Model\ChatRoomRepository
	- Tempeus\Model\InformationRepository
	- Tempeus\Model\LogRepository
	- Tempeus\Model\PermissionRepository
	- Tempeus\Model\RoleRepository
	- Tempeus\Model\UserRepository

	- Tempeus\Security\Authenticator
	- Tempeus\Security\Authorizator

	- Tempeus\Mail\TempeusMailer( %mailing.fromEmail% , %mailing.fromName% )

	- Tempeus\Games\Feeds\MinecraftFeedProvider( %feeds.minecraft% )
	- Tempeus\Games\Feeds\GtaFeedProvider( %feeds.gta% )

	- Tempeus\Routing\RouterFactory
	router: @Tempeus\Routing\RouterFactory::createRouter
