#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: CzechClan\*Module\*Presenter

	session:
		expiration: 14 days


services:
	connection:
		class: LeanMapper\Connection( %database%, ... )
	- CzechClan\Model\Mapper
	- LeanMapper\DefaultEntityFactory

	- CzechClan\Model\UserRepository

	- CzechClan\Security\Authenticator
	- CzechClan\Security\Authorizator

	- CzechClan\Routing\RouterFactory
	router: @CzechClan\Routing\RouterFactory::createRouter
