{default $notifications = array()}
<li n:class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge" id="notificationCount">{count($notifications)}</span></a>
	<ul class="dropdown-menu">
		<li class="disabled">
			<a href="#">Under construction</a>
		</li>
	</ul>
</li>
